/*
 * Marcas
 */

.Marcas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #F6F5F5;
  height: 460px;

  &__title {
    text-align: center;
    flex: 1 100%;
  }
  &Item {
    margin: 20px;
  }
  li {
    list-style: none;
  }
}
