/*
 * Posts
 */
.Posts {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing_base / 2;

    &__title {
        text-align: center;
        flex: 1 100%;
    }

    &__item {
      @include min-screen(600px) {
        flex: 0 50%;
      }
        figure {
            background-color: $gray_lighter;
            margin-bottom: $spacing_base / 2;
            @include min-screen(600px) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex: 0 50%;

                img {
                    // padding-right: 10px;// width: 50%;
                }
            }
        }

        figcaption {
            flex: 1 200px;
            padding: $spacing_base / 2 $spacing_base / 2 $spacing_base / 3;

            h3 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
}
