/*
 * Posts
 */

 .Posts {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing_base;

  &__title {
    text-align: center;
    flex: 1 100%;
  }
  &__item {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 0 50%;
    margin-bottom: $spacing_base;

    figure {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: $gray_lighter;
    }

    figcaption {
      display: block;
      flex: 1 200px;
      padding-left: $spacing_base;
      padding-right: $spacing_base;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    
    img {
      max-width: 210px;
    }
  }
}
