/*
 * Site Header
 */

.siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: $spacing_base*2;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #777;
  z-index: 10
}
